source leaprc.protein.ff19SB
source leaprc.water.opc
source leaprc.gaff2
loadamberparams /bigdata/cutlerlab/jjaco081/PYR1_pocket_expansion/data/noncognate/params/Flutamide_pose2/FLU.frcmod
lig = loadmol2 /bigdata/cutlerlab/jjaco081/PYR1_pocket_expansion/data/noncognate/params/Flutamide_pose2/FLU.mol2
prot = loadpdb protein.pdb
sys = combine { prot lig }
solvateoct sys OPCBOX 12.0
addions sys K+ 0
addions sys Cl- 0
addionsrand sys K+ {nna} Cl- {ncl}
charge sys
check sys
saveamberparm sys system.prmtop system.inpcrd
savepdb sys system_solvated.pdb
quit
