source leaprc.protein.ff19SB
source leaprc.water.opc
prot = loadpdb protein.pdb
sys = combine { prot }
addions sys Na+ 0
addions sys Cl- 0
solvateoct sys OPCBOX 12.0
addionsrand sys Na+ {nna} Cl- {ncl}
charge sys
check sys
saveamberparm sys system.prmtop system.inpcrd
savepdb sys system_solvated.pdb
quit
